:root {
  /* Основные цвета */
  --background: #dde5b6; /* TeaGreen */
  --primary: #7b9b44; /* Зеленый (DarkOliveGreen) */
  --on-primary: #ffffff;
  --watering: #8BD3E6; /* Голубой */
  --on-watering: #003366;
  --light-level: #FFEB82; /* Желтый */
  --on-light-level: #5C4D00;
  --temperature: #FF8C42; /* Оранжевый */
  --on-temperature: #5D4037;
  
  /* Серые цвета */
  --surface-container-dark: #6c584c; /* Темный серый для префикса Note */
  --on-surface-container-dark: #f0e2ad; /* Светлый текст */
  --tertiary: #f8f4e8; /* Светлый фон */
  --on-tertiary: #5a5246; /* Темный текст */
  
  /* Кнопки */
  --chamoisee: #a98467;
  --chamoisee-light: #b5947d;
}