:root {
  /* Основная палитра */
  --parchment: #f0ead2;
  --tea-green: #dde5b6;
  --olivine: #adc178;
  --chamoisee: #a98467;
  --umber: #6c584c;
  
  /* Альфа-канал (прозрачность) можно добавлять через opacity или отдельные переменные */
  --parchment-transparent: #f0ead280;
  --tea-green-transparent: #dde5b680;
}